/EatMe/nbproject/private/
/EatMe/EatMe-war/nbproject/private/
/EatMe/EatMe-ejb/nbproject/private/
/EatMe/EatMe-ejb/build/
/EatMe/EatMe-ejb/dist/
/EatMe/EatMe-war/build/
/EatMe/build/
/EatMe/EatMe-war/dist/
/EatMe/dist/
/EatMe-Maven/EatMe-Maven-web/target/
/EatMe-Maven/EatMe-Maven-ejb/target/
/EatMe-Maven/EatMe-Maven-ear/target/