/EatMe/nbproject/private/
/EatMe/EatMe-war/nbproject/private/
/EatMe/EatMe-ejb/nbproject/private/
/EatMe/EatMe-ejb/build/
/EatMe/EatMe-ejb/dist/
/EatMe/EatMe-war/build/
/EatMe/build/
/EatMe/EatMe-war/dist/
/EatMe/dist/